.title {
    color: #999999;
}

.line {
	size: 40px;
	color: #999999;
}

.listing {
	width: 500px;
	height: 400px;
}

.desc {
	position: relative;
	top: 150px;
	left: 550px;
}

.desc_list {
	position: relative;
	top: -250px;
	left: 550px;
}

.date {
	font-style: italic;
	color: #999999;
	font-size: 10px;
}

#comment {
	position: relative;
	top: -200px;
	left: 00px;
}